:root {
  --mainColor: #41729f;
  --secondaryColor: steelblue;

  --borderColor: #000000;

  --mainText: #fff;
  --secondaryText: #eeeeee;
  --mainHeader: #ffa500;
  --secondaryHeader: #fff;

  --themeDotBorder: #fff;

  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;

  --buttonColor: #17a2b8;
  --linkColor: #fff;
}
