:root {
  --main-font: "Russo One", sans-serif;
  --secondary-font: "Roboto Mono", monospace;

  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --redColor: #fc6058;
  --yellowColor: #fec02f;
  --greenColor: #2aca3e;

  --borderColor: #c1c1c1;

  --mainText: #000;
  --secondaryText: #333;
  --mainHeader: steelblue;
  --secondaryHeader: steelblue;

  --themeDotBroder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --previewBorder: #17a2b8;

  --buttonColor: #000;

  --linkColor: steelblue;
}

/*
################################################################################################
               General Css
################################################################################################
*/

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.3s;
  line-height: 1.5;
}

h1,
h2, 
h3 {
  color: var(--mainHeader);
  font-family: var(--main-font);
  font-weight: 500;
}

h4,
h5,
h6 {
  color: var(--secondaryHeader);
  font-family: var(--main-font);
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: var(--secondary-font);
  font-size: 16px;
}

i {
  color: #444;
  font-weight: lighter;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

hr {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--borderColor);
  color: var(--mainText);
  text-align: left;
  padding: 8px;
  vertical-align: top;
}

th {
  background-color: var(--mainColor);
  color: var(--mainText);
  font-size: 20px;
  text-decoration: underline;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

pre,
code {
  background-color: var(--mainColor);
  color: var(--redColor);
  border-radius: 5px;
}

pre {
  font-size: 120%;
  padding: 8px 4px;
  white-space: pre-line;
}

code {
  font-size: 105%;
  padding: 0 4px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }

  p,
  li,
  label,
  span,
  input,
  textarea {
    font-size: 12px;
  }

  ul,
  ol {
    padding: 0 0 0 20px;
  }

}

/*
################################################################################################
              Genereal Css End
################################################################################################
*/

/*
################################################################################################
              Container and Wrapper
################################################################################################
*/

/* For different sections */
.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

/* For different sections */
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

/* For content to be in the middle */
.main-wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Secondary Wrapper is important for mobile responsive - don't delete */
.secondary-wrapper {
  background-color: var(--secondaryColor);
  padding: 1em 4em;
}

/* For styling the page header */
.main-wrapper h1 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .main-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .secondary-wrapper {
    padding: 1em;
  }
}

/*
################################################################################################
              Container and Wrapper End
################################################################################################
*/

/*
################################################################################################
               (Index Page) Introduction Block 
################################################################################################
*/

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 250px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  border-radius: 10%;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  background-color: var(--previewBg);
  border: 1.5px solid var(--previewBorder);
  position: relative;
  width: 300px;
  padding: 15px;
}

.corner {
  background-color: #fff;
  position: absolute;
  border: 1.5px solid var(--previewBorder);
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 100px;
  }

  #preview-shadow {
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  
  #preview {
    width: 280px;
    height: 160px;
  }
}
/*
################################################################################################
              (Index Page) Introduction Block End
################################################################################################
*/

/*
################################################################################################
               Naviagation  Bar (All Page) 
################################################################################################
*/

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: var(--redColor)
}

#dot-2 {
  background-color: var(--yellowColor)
}

#dot-3 {
  background-color: var(--greenColor);
}

.browser-dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.nav-wrapper {
  grid-area: nav-wrapper;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.nav-wrapper ul {
  list-style: none;
}

.navigation a {
  color: var(--mainText);
}

.navigation {
  margin: 0;
  padding: 10px;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .nav-wrapper {
    justify-content: space-between;
  }
}

/*
################################################################################################
               Naviagation  Bar (All Page) End
################################################################################################
*/

/*
################################################################################################
               Theme (Index Page) 
################################################################################################
*/

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  background-color: var(--mainColor);
  border: 2px solid var(--themeDotBroder);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
  cursor: pointer;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #2c445c;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #4f2e5e;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

/*
################################################################################################
               Theme (Index Page) End
################################################################################################
*/

/*
################################################################################################
               Blog card
################################################################################################
*/

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  background-color: var(--mainColor);
  border: 1px solid var(--borderColor);
  position: relative;
  height: 450px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: var(--mainColor);
  padding: 15px;
}

.post-title {
  height: 54px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-title h6 {
  margin: 0;
}

.post-intro {
  color: #4b5156;
}

.post-intro p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 0;
}

.post-tags {
  display: inline-flex;
  gap: 10px;
  margin: 10px 0 0 0;
}

.post-tags > span {
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
}

.post-tags .post-tag-1 {
  background-color: var(--redColor);
}

.post-tags .post-tag-2 {
  background-color: var(--greenColor);
}

.post-tags .post-tag-3 {
  background-color: var(--yellowColor);
}

.post-readmore {
  position: absolute;
  bottom: -5px;
}

.post-readmore p:active {
  transform: scale(0.90);
}

@media screen and (max-width: 800px) {
  .post {
    height: 420px;
  }

  .post-intro p {
    font-size: 12px;
  }

  .post-title {
    height: 45px;
  }

  .post-title h6 {
    font-size: 16px;
  }

  .post-tags > span {
    font-size: 10px;
  }

  .post-readmore {
    bottom: 0;
  }

  .post-readmore p {
    font-size: 14px;
  }
}

/*
################################################################################################
               Blog card End
################################################################################################
*/

/*
################################################################################################
               Blog Page
################################################################################################
*/
#blogs .secondary-wrapper {
  position: relative;
}

article h1 {
  text-align: center;
  margin-bottom: 16px;
}

article p {
  line-height: 1.75;
  text-align: justify;
}

article .highlight {
  background-color: var(--yellowColor);
}

article ol li.tick {
  list-style: none;
}

article ol li.tick:before {
  content: '✓';
}

article .img-container {
  width: 50%;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  border-radius: 10%;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.date-time {
  position: absolute;
  right: 5%;
  top: 0;
}

.date-time p {
  color: var(--redColor);
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  margin: 8px 0;
}

.quote {
  background-color: var(--redColor);
  border-left: 8px solid var(--borderColor);
  margin: 0 0 15px;
  padding: 20px;
  overflow: hidden;
}

.quote p {
  color: #fff;
  font-style: italic;
  margin: 0;
}

.song {
  background-color: var(--yellowColor);
  border-left: 8px solid var(--borderColor);
  margin: 0 0 25px;
  padding: 20px;
  overflow: hidden;
}

.song p {
  margin: 0;
}

.song a {
  color: rebeccapurple;
}

.song a:hover {
  font-weight: bold;
  text-decoration: none;
}

.song span {
  font-size: 16px;
  font-style: italic;
  margin-left: 15px;
  margin-top: 25px;
}

.extra-section ul {
  padding: 0;
  list-style: none;
}

.extra-section span {
  background-color: var(--greenColor);
  font-style: italic;
  display: block;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  article .img-container {
    width: 80%;
  }

  .date-time p {
    margin: 0;
  }

  .song span {
    font-size: 12px;
  }
}

/*
################################################################################################
               Blog Page end
################################################################################################
*/

/*
################################################################################################
               Contact Form (Index Page) 
################################################################################################
*/

#contact-form {
  background-color: var(--mainColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  font-size: 14px;
  min-height: 100px;
}

.input-field {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  font-size: 14px;
  width: 99%;
  padding: 10px 0;
}

.submit-btn {
  background-color: var(--buttonColor);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.submit-btn:active {
  transform: scale(0.98);
}

/*
################################################################################################
               Contact Form (Index Page) End
################################################################################################
*/

/*
################################################################################################
               Footer 
################################################################################################
*/

.footer {
  background-color: var(--secondaryColor);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
################################################################################################
               Footer End 
################################################################################################
*/

/*
################################################################################################
               Design Palette Page
################################################################################################
*/

.palette-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.palette-container.two-col {
  grid-template-columns: 1fr 1fr;
}

.palette-container.three-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.palette-container.four-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.palette {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 12px 10px;
  letter-spacing: 1px;
}

.palette.border {
  background-color: #fff;
}

.palette .palette-value {
  font-family: inherit;
  font-size: 18px;
  max-width: calc(100% - 40px);
  word-wrap: break-word;
}

.palette .palette-btn {
  background-color: var(--buttonColor);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
}

.palette-btn:focus,
input:focus {
  outline: none;
}

.palette-btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 800px) {
  .palette-container.two-col, .palette-container.three-col, .palette-container.four-col {
    grid-template-columns: 1fr;
  }
}

/*
################################################################################################
               Design Palette End
################################################################################################
*/

/*
################################################################################################
               Print Media Query 
################################################################################################
*/

@media print {
  .main-wrapper {
    width: 100%;
  }
  .secondary-wrapper {
    padding: 0;
  }
}

/*
################################################################################################
               Print Media Query End 
################################################################################################
*/
