/* To override Bootstrap properties */
.nav-menu-items {
    margin-top: 1em;
}


/****************************************************\
					value of advice (Articles)
\****************************************************/

.value-of-advice-section h2 {
    text-align: center;
}

.value-of-advice-video {
    margin-bottom: 50px;
}

@media(max-width:576px) {
    .value-of-advice-video .col-sm {
        margin-bottom: 30px;
    }
}

.value-of-advice-video + p {
    margin-top: 50px;
    font-size: 1.2em;
}

.value-of-advice-section .video {
    cursor: pointer;
    text-align: center;
    clear: both;
    width: 100%;
    position: relative;
    min-height: 310px;
}

@media(max-width: 767px) {
    .value-of-advice-section .col-sm-4:not(:last-child) .video {
        margin-bottom: 50px;
    }
}

.value-of-advice-section .video a.video-link {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.value-of-advice-section .video .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: table;
    background-color: rgba(95, 96, 98, 0.5);
}

.value-of-advice-section .video .overlay .play-button {
    display: table-cell;
    vertical-align: middle;
}

.value-of-advice-section .video .fa {
    color: #fff;
    font-size: 5em;
    opacity: 0.6;
    transition: all 0.3s;
}

.value-of-advice-section .video a:hover .fa,
.value-of-advice-section .video a:focus .fa,
.value-of-advice-section .video a:active .fa {
    opacity: 0.9;
}

.value-of-advice-section h4 {
    color: #F37021;
    font-size: 17px;
    position: absolute;
    bottom: 20px;
    z-index: 2;
    background-color: #ffffff;
    margin-left: 22px;
    padding: 10px;
    left: 0;
}

.value-of-advice-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.value-of-advice-news:after {
    content: "";
    flex: auto;
}

.value-of-advice-card {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0px;
    margin-bottom: 20px;
    display: block;
}

.value-of-advice-card:hover {
    /*box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.2);*/
    
}

.card-image{
     box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
     padding: 4px 0;
     margin: 0 10px;
}

.card-image:hover{
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s all ease;
}

.value-of-advice-card .card-image {
    /*height: 100%;*/
    /* background-position: bottom; */
    background-size: cover;
}

.value-of-advice-card .card-content {
    padding: 0 15px;
}

.value-of-advice-card .category-text {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #666;
    font-size: 0.9em;
}

.value-of-advice-card .card-title {
    font-size: 24px;
    padding-bottom: 0;
    height: 100px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
    margin-top: 0;
}

.value-of-advice-card .card-title a {
    color: steelblue;
}

.value-of-advice-card .brief-text {
    padding-bottom: 0;
    height: 90px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
}

.value-of-advice-card .button_team {
    bottom: 20px;
    position: absolute;
}

@media(max-width: 767px) {
    .value-of-advice-news {
        flex-direction: column;
        padding: 0 20px;
    }

    .value-of-advice-card {
        max-width: 500px;
        margin: 0 auto 30px;
        width: 100%;
        /* height: 420px; */
    }

    .value-of-advice-card .card-title {
        height: 36px;
        -webkit-line-clamp: 1;
    }

    .value-of-advice-card .brief-text {
        height: 60px;
        -webkit-line-clamp: 3;
    }
}

/****************************************************\
					pagination
\****************************************************/

.pagination>li>a{
    display: block !important; 
    float: none;
    padding: 0px;
    margin-left: 0px;
    line-height: inherit;
    color: inherit !important;
    background-color: transparent !important;
    border: 0;
}

.pagination>li>a:hover{
    background-color: transparent;
    border-color: transparent;
}

.pagination>li.active{
    background-color: #f37021 !important;
    color: white !important;
}

.pagination>li:hover{
    color: #fff !important;
}

#searchLoadingImg{
    text-align:center;
}

ul.pagination {
    clear: both;
    position: relative;
    width: 100%;
    text-align: right;
    /*margin-top: 150px;*/
    display: block;
}

ul.pagination > li {
    background-color: rgba(76, 92, 101, 0.17);
    color: #666;
    padding: 15px 20px;
    margin-left: 5px;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -moz-transition-property: color, background-color, border-color;
    -o-transition-property: color, background-color, border-color;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

#section .content_body ul.pagination > li {
    display: inline-block;
}

ul.pagination > li:before {
    content: "" !important;
}

ul.pagination > li.cur {
    background-color: #F37021;
    color: #fff;
}

#search-wrapper ul.pagination > li.cur {
    background-color: transparent;
    color: #F37021;
    text-decoration: underline;
}

ul.pagination > li:hover {
    cursor: pointer;
    background-color: #F37021;
    color: #fff;
}

ul.pagination > li:click {
    background-color: #e0e0e0;
}

@media (max-width: 767px) {
    ul.pagination {
        text-align: left;
    }

    ul.pagination > li {
        margin-left: 0px;
        margin-right: 5px;
    }
}

.preview-image {
    max-height: none;
    height: auto;
}

@media(min-width: 768px) {
    .post-section {
        margin-bottom: 50px;
    }

    .post-more {
        position: absolute;
        bottom: -60px;
    }
}

@media(max-width: 767px) {
    .post-more {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media(max-width: 992px) {
    .preview-image {
        max-width: 300px;
    }
}

#section .content_body ul li:before {
    display: table-cell;
    /* aha! */
}

#section .content_body ul li {
    display: table-row;
}

#section .content_body ul.pagination > li {
    display: inline-block;
}

.post-title {
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 70px;
    margin-bottom: 15px;
}
